@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Custom box shadow for inputs */
  --shadow-aceternity:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);

  --shadow-notop: 
  0px 2px 3px -1px rgba(0, 0, 0, 0.1),    /* bottom soft shadow */
  0px 0px 0px 1px rgba(25, 28, 33, 0.08); /* outline shadow */

  --shadow-section: 
    0px 0px 24px rgba(34, 42, 53, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px rgba(34, 42, 53, 0.04),
    0px 0px 4px rgba(34, 42, 53, 0.08),
    0px 16px 68px rgba(47, 48, 55, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);

   --shadow-section-inset: 
    inset 0 2px 0 0 var(--color-neutral-100),   /* bottom line */
    inset 0 -2px 0 0 var(--color-neutral-100);  /* top line */
  
  --pattern-fg: rgba(0, 0, 0, 0.2);

  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);
}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
}

html, body {
  font-family: 'Inter', sans-serif;
}

